PORT=4000
ALLOWED_PHONE=628123456789,628987654321
OWNER_PHONE=6281234567890
WAHA_URL=http://localhost:3000

# WAHA Auth
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=your_secure_password
WHATSAPP_SWAGGER_USERNAME=admin
WHATSAPP_SWAGGER_PASSWORD=your_secure_password
WAHA_API_KEY=your_secure_api_key

# Koma-separated Gemini API Keys (AI Studio)
GEMINI_KEYS=AIzaSy...1,AIzaSy...2,AIzaSy...3
